extends base.pug

block content
  h1= 'Get github repository contributors via API v3'

  div
    ul
      li 
        a(href="/as-async-await") as async/await
      li 
        a(href="/as-promise") as promise  
